PROJECT_NAME=""
PROJECT_DESCRIPTION=""
API_V1_STR=""
SITE_NAME=""

POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_HOST="" # service name in docker-compose.yml
POSTGRES_PORT=""
POSTGRES_SCHEMA="" # no hyphens allowed in schema name

DATABASE_URL="postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

MAIL_FROM=""
MAIL_FROM_NAME=""
SMTP_HOST="" # service name in docker-compose.yml
SMTP_PORT=""
MAILPIT_UI_PORT=""

REDIS_HOST="" # service name in docker-compose.yml
REDIS_PORT=""
REDIS_DB=""

RABBITMQ_HOST="" # service name in docker-compose.yml
RABBITMQ_PORT=""
RABBITMQ_USER=""
RABBITMQ_PASSWORD=""

CELERY_FLOWER_USER=""
CELERY_FLOWER_PASSWORD=""
